@charset "utf-8";
/*全体*/
.body{
    margin: 0;
    padding: 0;
}
.wrap{
    overflow: hidden;
}
/*ナブバー*/
nav{
    background-color: black;
    border-bottom: solid 2px green;
}
a#navbarDropdown{
    font-size: 18px;
}
a.navbar-brand{
    color:limegreen;
}
a.navbar-brand:hover{
    color:white;
}
a.nav-link{
    color:limegreen;
}
a.nav-link:hover{
    color:white;
}